@import "tailwindcss";

@theme {
  --color-background: #1a1a1a;
  --ease-soft-out: var(--ease-soft-out);
}

:root {
  --color-bg1: rgb(108, 0, 162);
  --color-bg2: rgb(0, 17, 82);
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;
  --ease-soft-out: cubic-bezier(0.4, 0.15, 0, 1);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  min-height: 100vh;
  box-sizing: border-box;
}

.marquee-text {
  animation: marquue 25s linear infinite;
}

@keyframes marquue {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* .scroll-down .slider-clip-path {
  clip-path: inset(10% 10% 10% 10% round 12px);
  opacity: 0;
}

.scroll-up .slider-clip-path {
  clip-path: inset(0 0 0 0 round 12px);
  opacity: 1;
}
.scroll-down .in-view.slider-clip-path {
  clip-path: inset(0 0 0 0 round 12px);
  opacity: 1;
} */

.slider-clip-path {
  clip-path: inset(0 0 0 0 round 12px);
  opacity: 1;
}

.scroll-up .slider-clip-path {
  clip-path: inset(0 0 0 0 round 12px);
  opacity: 1;
}

.scroll-down .slider-clip-path {
  clip-path: inset(10% 10% 10% 10% round 12px);
  opacity: 0;
}

.scroll-down .in-view.slider-clip-path {
  clip-path: inset(0 0 0 0 round 12px);
  opacity: 1;
}

.responsesive-font {
  font-size: 54px;
  line-height: 1;
}

.el:nth-of-type(2) {
  .imageContainer {
    top: -30vh;
    left: 5vw;
    width: 35vw;
    height: 30vh;
  }
}
.el:nth-of-type(3) {
  .imageContainer {
    top: -10vh;
    left: -25vw;
    width: 20vw;
    height: 45vh;
  }
}
.el:nth-of-type(4) {
  .imageContainer {
    left: 27.5vw;
    width: 25vw;
    height: 25vh;
  }
}
.el:nth-of-type(5) {
  .imageContainer {
    top: 27.5vh;
    left: 5vw;
    width: 20vw;
    height: 25vh;
  }
}
.el:nth-of-type(6) {
  .imageContainer {
    top: 27.5vh;
    left: -22.5vw;
    width: 30vw;
    height: 25vh;
  }
}
.el:nth-of-type(7) {
  .imageContainer {
    top: 22.5vh;
    left: 25vw;
    width: 15vw;
    height: 15vh;
  }
}

.svg-letter {
  --delay: 0s;
}

.screen-container .svg-letter path {
  fill: transparent;
  stroke-width: 1;
  stroke: #fff;
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: textAnimate 4s var(--delay) ease-in-out 1 forwards;
}

@keyframes textAnimate {
  0% {
    stroke-dashoffset: 400;
  }
  80% {
    fill: transparent;
  }
  100% {
    fill: white;
    stroke-dashoffset: 0;
  }
}

.grid-template-columns {
  --min-width: 200px;
  --max-width: 1fr;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--min-width), var(--max-width))
  );
}

.clipped-text {
  --linear: to right, #ff0080, #7928ca;
  background: linear-gradient(var(--linear));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hover-clipPath {
  position: relative;
  z-index: 2;
  clip-path: inset(0% 0% 0% 100%);
  transition: clip-path 0.3s ease-in-out;
}

.clipContainer:hover .hover-clipPath {
  clip-path: inset(0% 0% 0% 0%);
}

/* .float-container:hover .float{
  --float-x: 0px;
  --float-y: 0px;
} */

.float {
  --float-x: 20px;
  --float-y: 10px;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(var(--float-x), var(--float-y));
  }
  100% {
    transform: translate(0, 0);
  }
}

/* css for morphing gradients background */

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

.gradient-bg {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;
}

.gradient-bg svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.gradient-bg .gradients-container {
  filter: url(#goo) blur(40px);
  width: 100%;
  height: 100%;
}

.gradient-bg .g1 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color1), 0.8) 0,
      rgba(var(--color1), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);

  transform-origin: center center;
  animation: moveVertical 30s ease infinite;

  opacity: 1;
}

.gradient-bg .g2 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color2), 0.8) 0,
      rgba(var(--color2), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);

  transform-origin: calc(50% - 400px);
  animation: moveInCircle 20s reverse infinite;

  opacity: 1;
}

.gradient-bg .g3 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color3), 0.8) 0,
      rgba(var(--color3), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2 + 200px);
  left: calc(50% - var(--circle-size) / 2 - 500px);

  transform-origin: calc(50% + 400px);
  animation: moveInCircle 40s linear infinite;

  opacity: 1;
}

.gradient-bg .g4 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color4), 0.8) 0,
      rgba(var(--color4), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);

  transform-origin: calc(50% - 200px);
  animation: moveHorizontal 40s ease infinite;

  opacity: 0.7;
}

.gradient-bg .g5 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color5), 0.8) 0,
      rgba(var(--color5), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);

  width: calc(var(--circle-size) * 2);
  height: calc(var(--circle-size) * 2);
  top: calc(50% - var(--circle-size));
  left: calc(50% - var(--circle-size));

  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveInCircle 20s ease infinite;

  opacity: 1;
}

.gradient-bg .interactive {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color-interactive), 0.8) 0,
      rgba(var(--color-interactive), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);

  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;

  opacity: 0.7;
}
