@import "tailwindcss";

@theme {
  --color-background: #1a1a1a;
  --ease-soft-out: var(--ease-soft-out);
}

:root {
  --ease-soft-out: cubic-bezier(0.4, 0.15, 0, 1);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  min-height: 100vh;
  box-sizing: border-box;
}

.marquee-text {
  animation: marquue 25s linear infinite;
}

@keyframes marquue {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* .scroll-down .slider-clip-path {
  clip-path: inset(10% 10% 10% 10% round 12px);
  opacity: 0;
}

.scroll-up .slider-clip-path {
  clip-path: inset(0 0 0 0 round 12px);
  opacity: 1;
}
.scroll-down .in-view.slider-clip-path {
  clip-path: inset(0 0 0 0 round 12px);
  opacity: 1;
} */

.slider-clip-path {
  clip-path: inset(0 0 0 0 round 12px);
  opacity: 1;
}

.scroll-up .slider-clip-path {
  clip-path: inset(0 0 0 0 round 12px);
  opacity: 1;
}

.scroll-down .slider-clip-path {
  clip-path: inset(10% 10% 10% 10% round 12px);
  opacity: 0;
}

.scroll-down .in-view.slider-clip-path {
  clip-path: inset(0 0 0 0 round 12px);
  opacity: 1;
}

.responsesive-font {
  font-size: 54px;
  line-height: 1;
}

.el:nth-of-type(2) {
  .imageContainer {
    top: -30vh;
    left: 5vw;
    width: 35vw;
    height: 30vh;
  }
}
.el:nth-of-type(3) {
  .imageContainer {
    top: -10vh;
    left: -25vw;
    width: 20vw;
    height: 45vh;
  }
}
.el:nth-of-type(4) {
  .imageContainer {
    left: 27.5vw;
    width: 25vw;
    height: 25vh;
  }
}
.el:nth-of-type(5) {
  .imageContainer {
    top: 27.5vh;
    left: 5vw;
    width: 20vw;
    height: 25vh;
  }
}
.el:nth-of-type(6) {
  .imageContainer {
    top: 27.5vh;
    left: -22.5vw;
    width: 30vw;
    height: 25vh;
  }
}
.el:nth-of-type(7) {
  .imageContainer {
    top: 22.5vh;
    left: 25vw;
    width: 15vw;
    height: 15vh;
  }
}

.svg-letter {
  --delay: 0s;
}

.screen-container .svg-letter path {
  fill: transparent;
  stroke-width: 1;
  stroke: #fff;
  stroke-dasharray: 340;
  stroke-dashoffset: 340;
  animation: textAnimate 4s var(--delay) ease-in-out 1 forwards;
}

@keyframes textAnimate {
  0% {
    stroke-dashoffset: 340;
  }
  80% {
    fill: transparent;
  }
  100% {
    fill: white;
    stroke-dashoffset: 0;
  }
}
